<div class="border-top py-4">
  <h3>自分の体験を書こう</h3>
  <%# 入力フォーム %>
  <%= form_with model: [@experience, @review], local: true do |f| %>
    <div class="field">
      <%= f.text_area :content %>
    </div>

    <div class="form-group" id="star">
      <%= f.hidden_field :rating, id: :review_star %>
    </div>
    <%= f.submit "体験をレビュー", class: "btn btn-success" %>

    <!-- 評価javascript -->
      <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        scoreName: 'review[rating]',
        half: false,
      });
      </script>
  <% end %>
</div>

<%# 口コミ表示 %>
<div class="border-top py-4">
  <h3>
    <%# 星表示 %>
      <%= image_tag(asset_path('star-on.png')) %>
    <%# 平均点 %>
    <%= @experience.reviews.average(:rating).to_f.round(2) %>
    <%# 口コミ件数 %>
    (<%= @experience.reviews.count %>件のレビュー)
  </h3>
  <% @reviews.each do |review| %>
    <div class="card my-4 rounded">
      <div class="card-body"> 
        <p><%= review.user.first_name %>&nbsp;<%= review.user.last_name %></p>
        <p><%= review.content %></p>
      <%# 星評価 %>
      <div id="star-rate-<%= review.id %>"></div>
        <script>
        $('#star-rate-<%= review.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          readOnly: true,
          score: <%= review.rating %>,
        });
        </script> 
      </div>
    </div> 
  <% end %>
</div>
